

#container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "panel card card";
  height: 100vh;

}

#panel_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}

#panel_navigation a {
    height: 48px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    margin: -1px;
    padding: 1rem;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
}

#panel_navigation a:hover {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

#panel_navigation a:focus {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

#panel_options {
  padding: 2rem 0rem 2rem 0rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

input {
  height: 3rem;
  margin: .5rem;
  outline: none;
  border: none;
  border-bottom: solid 1px #333;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1rem;
  border-radius: 0;
  color: #333;
}


h2 {
  font-family: 'Alegreya Sans SC';
  font-size: 1rem;
  color: #333;
  text-transform: lowercase;
  letter-spacing: .1rem;
}


#panel {
  grid-area: panel;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;
}

#card {
  grid-area: card;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eee;
  height: 100vh;
}

.card_canvas {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 50px 6px;
  width: 454px;
  height: 636px;
  background-repeat: no-repeat;
  background-position: center center;
}

#card_data {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 454px;
  height: 636px;
  margin-top: -318px;
  text-align: center;
  top: 50%;
}

/*classic*/

.classic {
  background-image: url('/img/classic.jpeg');
}

.classic_headline {
  font-family: 'Playfair Display';
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #000;
}

.classic_preset_copy {
  font-family: 'Libre Baskerville';
  font-size: 7pt;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 1rem;
  color: #000;
}

.classic_date_location {
  font-family: 'Libre Baskerville 400i';
  font-size: 1rem;
  font-style: italic;
  color: #000;
}

.classic_button_selected {
  color: red;
}

/*bohemian*/

.bohemian {
  color: #B7954D;
  background-image: url('/img/bohemian.jpg');
}

.bohemian_headline {
  font-family: 'Libre Baskerville 400i';
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-style: italic;
  color: #B7954D;
}

.bohemian_preset_copy {
  font-family: 'Libre Baskerville';
  font-size: 7pt;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #fff;
  margin: 1rem;
}

.bohemian_date_location {
  font-family: 'Libre Baskerville 400i';
  font-style: italic;
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #B7954D;
}

/*modern*/

.modern {
  background-image: url('/img/modern.jpg');
}

.modern_headline {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: .5rem;
}

.modern_preset_copy {
  font-family: 'Poppins';
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #D8BB9C;
  margin: 1.5rem;
}

.modern_date_location {
  font-family: 'Poppins';
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #fff;
  margin: .25rem;
}

/*responsive states*/
@media only screen and (max-width: 800px) {
  
form {
  width: 100%;
}


input[type="datetime-local"] {
  border: 1px solid #333;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="datetime-local"]:before {
  content: attr(placeholder) !important;
  color: #999;
  margin-right: 0.5em;
  border-radius: 0;
}
input[type="datetime-local"]:focus:before,
input[type="datetime-local"]:valid:before {
  content: "";
  color: #999;
  margin-right: 0.5em;
}
  

#container {
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-areas: 
    "card"
    "panel";
}

#card {
  height: 480px;

}

.card_canvas {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 50px 6px;
  width: 328px;
  height: 458px;
  background-repeat: no-repeat;
  background-position: center center;
}

#card_data {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 328px;
  height: 458px;
  margin-top: -229px;
}

#panel {
  grid-area: panel;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;

}

#panel_navigation {
  margin-top: 1rem;
  padding: 0;

}

.classic {
  background-size: contain;
}

.modern {
  background-size: contain;
}

.bohemian {
  background-size: contain;
}

}

